:root {
  --color-primary: #95adbe;
  --color-secondary: #ff7a5c;
  --color-black: #000000;
  --color-black-dark: #1a1a1a;
  --color-black-light: #999999;
  --color-white: #ffffff;
  --color-white-light: #f5f4f0;
  --primary-font: "Lora", serif;
  --secondary-font: "Roboto", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  color: var(--color-black-light);
  font-family: var(--primary-font);
}

/* components */
.title {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title--sub {
  font-size: large;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--secondary-font);
  letter-spacing: 2px;
  color: var(--color-secondary);
}

.title--main {
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--color-black-dark);
  text-align: center;
}

@media screen and (max-width: 31.25em) {
  .title--main {
    font-size: 3.5rem;
  }
}
/* end of components */

/* header stylings */
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
  border-bottom: 1px solid var(--color-white-light);
}

@media screen and (max-width: 56.25em) {
  .header-top {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 50em) {
  .header-top {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.header-social-icons {
  display: flex;
  gap: 1rem;
}

.header-social-icon {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black-light);
  display: flex;
  justify-content: center;
  align-items: center;
  --header-social-icon-width: 3rem;
  width: var(--header-social-icon-width);
  height: var(--header-social-icon-width);
  border-radius: 50%;
  border: 1px solid currentColor;
}

.header-logo-link {
  text-decoration: none;
}

.logo-text--main {
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: 700;
  font-size: 2rem;
}

.logo-text--main span {
  color: var(--color-secondary);
}

.logo-text--sub {
  text-transform: uppercase;
  color: var(--color-black-light);
}

@media screen and (max-width: 50em) {
  .header-search {
    width: 98%;
    display: flex;
  }
}

.header-search-input,
.header-search-button {
  padding: 1.5rem;
  font-family: inherit;
  outline: none;
  border-radius: 5px;
}

.header-search-input {
  background-color: var(--color-white-light);
  border: 1px solid var(--color-black-light);
  flex-grow: 1;
}

.header-search-button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
}

.header-bottom {
  padding: 2rem 2rem;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}

@media screen and (max-width: 37.5em) {
  .header-nav-list {
    gap: 2rem;
    flex-wrap: wrap;
  }
}

.header-nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black-dark);
  font-size: small;
  font-weight: 600;
  letter-spacing: 2px;
}
/* end of header stylings */

/* hero section stylings */
.hero-section {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 43.75em) {
  .hero-section {
    min-height: max-content;
    padding: 10rem 0;
  }
}

.hero-textbox {
  width: 70%;
  transform: translateY(-30px);
}

@media screen and (max-width: 56.25em) {
  .hero-textbox {
    width: 98%;
  }
}

.hero-tagline-main,
.hero-tagline-sub {
  text-align: center;
  color: var(--color-white);
}

.hero-tagline-main {
  font-size: 6rem;
}

@media screen and (max-width: 43.75em) {
  .hero-tagline-main {
    font-size: 4rem;
  }
}

@media screen and (max-width: 31.25em) {
  .hero-tagline-main {
    font-size: 3rem;
  }
}

.hero-tagline-sub {
  margin: 2rem 0;
}

.hero-ctas {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hero-cta {
  background-color: var(--color-white);
  color: var(--color-black);
  text-decoration: none;
  font-size: large;
  text-transform: capitalize;
  padding: 2rem;
  border-radius: 5px;
  font-weight: 600;
  display: inline-block;
}

@media screen and (max-width: 31.25em) {
  .hero-cta {
    font-size: 1.6rem;
  }
}

.hero-cta--main {
  background-color: var(--color-primary);
  color: var(--color-white);
}
/* end of hero section stylings */

/* book category stylings */
.book-categories {
  display: flex;
  justify-content: center;
  padding: 0 8rem;
  gap: 2rem;
  transform: translateY(-90px);
}

@media screen and (max-width: 43.75em) {
  .book-categories {
    flex-direction: column;
    align-items: center;
    transform: none;
    margin-top: 4rem;
  }
}

.book-category-card {
  width: 30rem;
}

@media screen and (max-width: 43.75em) {
  .book-category-card {
    width: 98%;
  }
}

.book-category-image-wrapper {
  --book-category-image-wrapper-size: 15rem;
  width: var(--book-category-image-wrapper-size);
  height: var(--book-category-image-wrapper-size);
  border-radius: 50%;
  background-color: var(--color-white-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.5s;
}

.book-category-card:hover .book-category-image-wrapper {
  background-color: var(--color-primary);
}

.book-category-image-wrapper img {
  width: 8rem;
}

.book-category-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--color-black-dark);
  font-size: 2rem;
  margin: 1.5rem 0;
}

.book-category-description {
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 1.7rem;
  line-height: 2;
}
/* end of book category stylings */

/* stats section */
.stats-container {
  background-color: var(--color-white-light);
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 3rem;
}

.stat {
  text-align: center;
}

.stat-count {
  font-size: 4rem;
  color: var(--color-black-dark);
}

.stat-description {
  text-transform: uppercase;
}
/* end of the stats section */
